body {
  background-image: url("../img/fundo2.jpg");
  background-repeat: no-repeat;
  background-size:100%;
  bottom: 0;
  color: black;
  left: 0;
  overflow: auto;
  padding: 0;
  position: right;
  right: 0;
  top: 0;
  text-align: center;
  background-size: cover;
}

/* div com todas as imagens*/
.flex-container1 {
  display: flex;
  flex-wrap: wrap;

}

.card  {
    /* sombras e bordas para criar o efeito do cartao */
    margin: 120px;
    width: 150px;
    height: 150px;
    padding: auto;

}

img.circle {
  width: 250px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

img.circle:hover {
  box-shadow: 0 8px 16px 0 rgb(168, 45, 37);
  transition: 0.1s;

}

.circle{
  border-radius: 0 50%;
}

/* cartão com texto */
.container h4 {
    padding: 2px 0px;
    font-size: 20px;
    color: rgb(168, 45, 37);
    justify-content: center;
    text-align: center;
    align-self: center;
    margin-left: 80px;
    font-weight: bold ;
}

/* BARRA DE NAVEGAÇÃO*/
ul.topnav {
    opacity: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(168, 45, 37);
    font-weight: bold;
    /*height: 50px; >> não podemos definir uma altura aqui, entender o pq*/
}

/*gruda os botões na esquerda*/
ul.topnav li {
    float: left;
}

#logo-do-site {
    padding: 0px;
    border: 0px;
    text-align: center;
    margin-top: 6px;
    height: 30px;
}

/*remove a mudança de cor ao passar o mouse por cima*/
#logo-do-site:hover{
    background-color: inherit;
    width: 140px;
    height: 30px;
}

/*remove a mudança de cor ao passar o mouse por cima*/
#barra-de-busca:hover{
    background-color: inherit;
}

#campo-de-texto-da-barra-de-busca{
    border-radius: 25px;
    height: 1.9em;
    margin-top: -5px;
}

.topnav{
  position:fixed;
  width:98%;
}
/*botao dos itens da lista*/
ul.topnav li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 20px;
    line-height: 20px;
    padding-top: 15px;
}

/*ficar cinza quando passa o mouse por cima*/
ul.topnav li a:hover {
    background-color: grey;
    color: white;
}

/*alinha dentro da lista*/
ul.topnav li.right {
    float: right;
}

/*responsividade de exemplo do w3shcools*/
@media screen and (max-width: 986px){
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}
